@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
  --primary-color: #5E3BE0;
  --primary-color-dark: #4B2EBA;
  --primary-color-light: #6349cc;
  --secondary-color: #18D0A8;
  --secondary-color-light: #18d0a81f;
  --terciary-color: #DB1951;
  --terciary-color-light: #db19501f;
  --background-color: #191819;
}

* {
  box-sizing: border-box;
  outline: 0;
  color: white;
}

body{
  margin: 0;
  padding: 0;
  background: var(--background-color);
  font-family: Poppins;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container{
  max-width: 640px;
  margin: 50px auto;
  background: #252425;
  padding: 30px;
  border-radius: 10px;
} 

.container input, .container label, .container button{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.container input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
}

.container input:focus{
  border-width: 1px;
  outline: 1px solid var(--primary-color);
}

.container input, select, textarea {
  color: var(--primary-color);
}

.container button {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
  outline: 1px solid var(--background-color);
  border-radius: 5px;
  margin-top: 30px;
  user-select: none;
}

.container button:hover{
  background: var(--primary-color-dark);
}

.container button:active{
  background: var(--primary-color-light);
}